<?xml version="1.0" encoding="utf-8"?>

<!--
  有关如何配置 ASP.NET 应用程序的详细信息，请访问
  http://go.microsoft.com/fwlink/?LinkId=169433
  -->
<configuration>
  <configSections>    
    <section name="log4net" type="log4net.Config.Log4NetConfigurationSectionHandler,log4net"/>
  </configSections>  
  <appSettings>
    <!--上传文件扩展名-->
    <add key="extension" value="zip|rar"/>
  </appSettings>
  <connectionStrings>
    <add name="sqlserver" connectionString="server=192.168.133.31;database=Grammar;User ID=xxzx;Password=xxzx123@;"/>
  </connectionStrings>
  <log4net>
    <root>
      <level value="All"/>
      <appender-ref ref="AdoNetAppender"/>
    </root>
    <appender name="AdoNetAppender" type="log4net.Appender.AdoNetAppender">
      <bufferSize value="1"/>
      <connectionType value="System.Data.SqlClient.SqlConnection,System.Data, Version=1.0.3300.0, Culture=neutral,PublicKeyToken=b77a5c561934e089"/>
      <connectionString value="server=tfxq.bowwell.com,83;database=Grammar;User ID=xxzx;Password=xxzx123@;"/>
      <commandText value="insert into S_LogInfo(LoginName,LoginIP,LogContent) values(@LoginName,@LoginIP,@LogContent);"/>
      <parameter>
        <parameterName value="@LoginName"/>
        <dbType value="String"/>
        <size value="20"/>
        <layout type="ML.Log4NetHelper.MyLayout, ML.Log4NetHelper">
          <param name="ConversionPattern" value="%property{LoginName}"/>
        </layout>
      </parameter>
      <parameter>
        <parameterName value="@LoginIP"/>
        <dbType value="String"/>
        <size value="20"/>
        <layout type="ML.Log4NetHelper.MyLayout, ML.Log4NetHelper">
          <param name="ConversionPattern" value="%property{LoginIP}"/>
        </layout>
      </parameter>
      <parameter>
        <parameterName value="@LogContent"/>
        <dbType value="String"/>
        <size value="2000"/>
        <layout type="ML.Log4NetHelper.MyLayout, ML.Log4NetHelper">
          <param name="ConversionPattern" value="%property{LogContent}"/>
        </layout>
      </parameter>
    </appender>
  </log4net>
  <system.web> 
    <!--解决编辑器内容问题,文件上传时最大等待时间，以及最大上传大小（50MB）-->
    <httpRuntime executionTimeout="600" maxRequestLength="51200" requestValidationMode="2.0"/>  
    <!--Forms验证（必须为Forms否则验证用户是否登录会只返回False）,loginUrl（登录页路径）,timeout（30分钟后过期），defaultUrl（默认页面路径）-->
    <authentication mode="Forms" >
      <forms loginUrl="~/Pages/Manage/Login.aspx" timeout="30" defaultUrl="/Index.aspx"/>
    </authentication>
    <compilation debug="true" targetFramework="4.0" />
    <httpModules>
      <add name="ApplicationInsightsWebTracking" type="Microsoft.ApplicationInsights.Web.ApplicationInsightsHttpModule, Microsoft.AI.Web" />
    </httpModules>
  </system.web>
  <system.webServer>
    <validation validateIntegratedModeConfiguration="false" />
    <modules>
      <remove name="ApplicationInsightsWebTracking" />
      <add name="ApplicationInsightsWebTracking" type="Microsoft.ApplicationInsights.Web.ApplicationInsightsHttpModule, Microsoft.AI.Web" preCondition="managedHandler" />
    </modules>
  </system.webServer>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="System.Runtime" publicKeyToken="b03f5f7f11d50a3a" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-2.6.10.0" newVersion="2.6.10.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Threading.Tasks" publicKeyToken="b03f5f7f11d50a3a" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-2.6.10.0" newVersion="2.6.10.0" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
</configuration>
